<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <!--登录后的IP地址-->
    <add key="IP_Base" value="56.1.80.185" />
    <!--登录后的IP端口号-->
    <add key="Url_piccclaim_index_port" value="8072" />

    <!--登录地址IP-->
    <add key="IP_Base_Login" value="56.1.80.129" />
    <!--登录地址端口号-->
    <add key="Url_piccclaim_login_port" value="7602" />

  </appSettings>
</configuration>