<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <appSettings>

    <!--商户id-->
    <add key="companyId" value="BHKJ" />

    <!--签名密钥-->
    <add key="key" value="80FFD54C05404824B365274492B76B9C" />

    <!--接口请求地址-->
    <add key="url" value="http://api.entrymaker.com/api/user/uplusapi" />


    <!--图片存储路径-->
    <add key="imgLocation" value="D:\01.MyPrj\FeiCheDS\bin\Debug\image" />

    <!--数据存储路径-->
    <add key="receiveDataLocation" value="D:\01.MyPrj\FeiCheDS\bin\Debug\image_result" />

  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
</configuration>