<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>


    <!--<add key="VPNAdress" value="https://www.gpic-sslvpn.com/" />
    <add key="VPNUser" value="d太原东海源保险代理有限责任公司4" />
    <add key="VPNPassword" value="ty12#$bx" />


    <add key="VPNAdress" value="https://vpn.guiz-picc.cn:4432" />
    <add key="VPNUser" value="gycb403" />
    <add key="VPNPassword" value="wpc@456" />
    <add key="LoginAdress" value="10.134.134.176" />-->





    <!--人保VPN-->
    <!--VPN重拨地址-->
    <add key="VPNAdress" value="https://221.236.13.236:9090" />
    <!--VPN账号-->
    <add key="VPNUser" value="cheshang212" />
    <!--VPN密码-->
    <add key="VPNPassword" value="qqqq1111" />
    <add key="LoginAdress" value="10.134.138.16" />
    <add key="UnNeedQrCode" value="1" />
   

    


  </appSettings>
</configuration>