<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>

    <!--消息按钮坐标百分比（X,Y）-->
    <add key="MsgWidthHeight" value="0.00625,0.1166"/>

    <!--点击消息后，需要动态验证码置顶-->
    <add key="MenuWidthHeight" value="0.09375,0.1111"/>

    <!--生成验证码按钮-->
    <add key="GenQrCodeWidthHeight" value="0.5,0.93"/>

    <!--左键触发单击按钮-->
    <add key="QrCodeLeftClickWidthHeight" value="0.5,0.86"/>

    <!--右键复制按钮坐标-->
    <add key="QrCodeRightCopyClickWidthHeight" value="0.52,0.78"/>

    <!--点击验证码空白处（一般用来清除上次选中内容）-->
    <add key="NullSpaceClickWidthHeight" value="0.9,0.78"/>

    <!--Socket服务端IP地址（用来和报价服务相互通信）-->
    <add key="SocketServerIp" value="127.0.0.1"/>

    <!--Socket服务端端口号-->
    <add key="SocketServerPort" value="8899"/>

    <!--图片识别版-->
    <!--是否启用百度API(默认启用：1，如果清空，则按照复制粘贴操作)-->
    <add key="USE_BD_API" value="1"/>
    <!--百度api相关配置-->
    <add key="APP_ID" value="14220143"/>
    <!--百度api相关配置-->
    <add key="API_KEY" value="ZF31ZkVGPBzl03jBGjTtic3E"/>
    <!--百度api相关配置-->
    <add key="SECRET_KEY" value="PvDTdq1L5ZhSx3lyIfiLjqATMHwKLSRw"/>

    <!--微信url,用于请求验证码-->
    <add key="wx_url" value="http://wxqy.chinalife-p.com.cn:8084/dynamic_pass_web/TwoFactor/getCode"/>
    <!--微信id,用于请求验证码-->
    <add key="userid_weixin" value="02f845e1236c888ad94b95075b786560"/>

    <!--截取屏幕验证码时,X轴比例-->
    <add key="CopySrceenX" value="0.275"/>

    <!--配置多个socket服务端，格式如：（192.168.1.1：8899,192.168.1.2:8890）-->
    <add key="SocketServerAdresses" value="127.0.0.1:8899"/>

    <!--固定的验证码（比如有的渠道验证码是固定的，如果配置，则每次都返回固定的验证码，默认为空）-->
    <add key="FixedQrCode" value=""/>

    <!--配置窗口标题，根据标题名称，自动最小化,格式如：发起会话，远程等-->
    <add key="MinFormTitles" value=""/>

  </appSettings>
</configuration>