<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <!--国寿财账号-->
    <add key="UserCode" value="110224198212223438"/>
    <!--国寿财密码-->
    <add key="Password" value="*1234567"/>
    <!--国寿财登录机构-->
    <add key="ComCode" value="11011500"/>
  </appSettings>
</configuration>